body {
    background-color: #E6D9F2;
    color: #4B2E6F;
    width: fit-content;
    margin: 0 auto;
    text-align:left;
}

h1{
  font-size: 36px;  
}

h2{
    font-size: 28px;
}

li{
    font-size: 24px;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: aqua;
    text-decoration: overline;
}
